<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Halaman Tidak Ditemukan</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2>404 - Halaman Tidak Ditemukan</h2>
        <p>{{pesanKesalahan}}</p>
        <p>Silakan periksa URL atau kembali ke <a href="/">halaman utama</a>.</p>
    </div>
    {{>footer}}
</body>
</html>
