<!DOCTYPE html>

<html>
    <head> 
        <title>Bantuan</title>
        <link rel="stylesheet" href="/css/styles.css"> 
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Nama: {{nama}} </p>
            <p>Ini adalah halaman bantuan.</p>
            <p>{{teksBantuan}}</p>
        </div>
        {{>footer}}
    </body>
</html>
